.content {
  min-height: 100vh;
  background-color: #efefef;
  justify-content: center;
  display: flex;
  align-items: center;
}

h2, h3, h4{
  color: #310080;
}

h4 {
  margin-bottom: 0px;
}


body {
  font-family: ui-monospace;
}

.absolute-button {
  position: absolute;
  bottom:0;
}

.footer-box {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.page-content {
  display: inline-block;
  background-color: white;
  width: 100%;
  height:600px;
  border-radius: 15px;
  position: relative;
}

.container {
  max-width:1000px;
  width:100%;
  padding-left:15px;
  padding-right:15px;
  margin-top:30px;
}